
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <input type="text" id="username" />
        <input type="text" id="message" />
    </div>
    <div>
        <input type="button" id="all" value="Send To All" />
    </div>
    <div id="chatLog">
    </div>
    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/signalr.js"></script>
    <script src="~/script/chat.js"></script>
</body>
</html>
